body {
  background-color: #393E46;
  color: #EEEEEE;
  font-family: "Roboto", sans-serif;
  font-size: 85%;
  height: 100%;
  margin-bottom: 40px;
}

body.experiment-page {
  margin-bottom: 50px;
  overflow: hidden;
}

kbd {
  background-color: #0092CA;
}

textarea {
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
}

.btn-primary {
  background-color: #0092CA;
}

.pid {
  color: #F38181;
  font-weight: bold;
}

.spacer {
  height: 20px;
}

.navbar-default .navbar-nav > li > a {
  color: #EEEEEE;
}

.navbar {
  background-color: #0092CA;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.gif-large, .img-large {
  display: block;
  margin: 0 auto;
  width: 640px;
}

.img-small {
  display: inline-block;
  float: right;
  width: 260px;
  margin: 20px;
}

.well {
  background-color: #222831;
  border: 0;
}

/**
 * Main ACP styles
 */

#autocompaste {
  background-color: #ACBDC5;
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;
}

#autocompaste-display {
  width: 100%;
  min-height: 100%;
}

#autocompaste-display > .wm-window {
  position: absolute;
  padding: 0;
  width: auto;
  -webkit-filter: brightness(95%);
}

#autocompaste-display > .wm-window .modal-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: move;
  padding: 5px 15px;
}

#autocompaste-display > .wm-window .modal-header:hover {
  background-color: #f0f0f0;
  transition: all .3s;
}

#autocompaste-display > .wm-window .modal-header h4 {
  color: #999999;
}

#autocompaste-display > .wm-window .modal-body {
  padding: 5px;
  overflow-y: auto;
}

#autocompaste-display > .wm-window .modal-body .highlighted {
  background-color: yellow;
}

#autocompaste-display.dragging-active > .wm-window .modal-header,
#autocompaste-display.dragging-active > .wm-window .modal-body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#autocompaste-completion {
  position: absolute;
  transition: all 0.2s;
  display: none;
}

#autocompaste-completion-list {
  height: auto;
  width: auto;
  display: block;
  overflow-y: auto;
}

#autocompaste-completion-list li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

#autocompaste-completion-list li a:hover {
  color: #333;
  background-color: #fff;
}

#autocompaste-completion-list li a.focused {
  color: #fff;
  background-color: #428bca;
}

/* Focused window styles */
#autocompaste-display > .wm-window-focused {
  -webkit-filter: brightness(100%);
  transition: -webkit-filter 0.5s;
}

#autocompaste-display > .wm-window-focused .modal-header h4 {
  color: #333333;
}

#autocompaste-timer {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  justify-content: center;
  width: -webkit-fill-available;
}

#timer {
  color: #393E46;
  font-size: 10em;
  text-align: center;
}

/* Error overlay styles */
#error-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: none;
}

#error-overlay .modal-dialog {
  margin-top: 100px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  overflow-y: scroll;
}

#sidebar-header {
  flex: none;
}

#sidebar-content {
  flex: 1;
}

#sidebar-footer {
  flex: none;
  padding-bottom: 15px;
}

#stimuli {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
